.todos-filters {
    position: relative;

    line-height: 40px;
    vertical-align: middle;

    text-align: center;
    }

    .todos-filter {
        color: #666;
        font-size: 14px;
        font-weight: 200;

        border: none;
        background: none;
    }

    .todos-filter.__active {
        border: 1px solid #ebdfdf;
        border-radius: 3px;
    }