.todos-add {
    border-bottom: 1px solid #e6e6e6;
    }

    .todos-add:after {
        content: '';
        display: block;
        clear: both;
        }

    .todos-add_select-all {
        width: 64px;
        height: 64px;

        background: none;
        border: none;
        padding: 0;
        margin: 0;
        
        float: left;
        position: relative;
        outline: none;
        }

        .todos-add_select-all:focus {
            background: #f5f5f5;
        }

        .todos-add_select-all_icon {
            width: 24px;
            height: 12px;
            background: url('../../img/icons/select-all.png') no-repeat 0 0;

            position: absolute;     /* ??? */
            left: 50%;
            top: 50%;
            margin: -6px -12px;
            }

    .todos-add_input-wrapper {
        overflow: hidden;           /* ??? */
        }

    .todos-add_input {
        width: 100%;
        box-sizing: border-box;     /* ??? */
        border: none;
        background: none;

        color: #666;
        font-size: 24px;
        font-weight: 200;

        padding-right: 12px;

        line-height: 64px;
        vertical-align: middle;

        /* выравнивание по вертикали */
        /* margin-top: 15px; */

        outline: none;
        }

        .todos-add_input::placeholder {
            color: #ccc;
            font-style: italic;
        }

