.todos-actions-bar {
    display: block;
    position: relative;
    height: 40px;
    }

    .todos-actions-bar_counter {
        position: relative;
        float: left;

        left: 10px;
        line-height: 40px;
        vertical-align: middle;

        color: #666;
        font-size: 14px;
        font-weight: 200;
        }

    .todos-actions-bar_clear-button {
        position: relative;
        float: right;

        padding: 0;
        margin: 0;
        right: 10px;

        line-height: 40px;
        vertical-align: middle;

        color: #666;
        font-size: 14px;
        font-weight: 200;

        border: none;
        background: none;
    }