$c-white: #fff;
$c-gray: #666;
$c-gray-dark: #333;
$c-gray-light: #ddd;
$c-light: #999;
$c-orange: #eb722e;
$c-error: #ff5756;

$c-title: rgba(175, 47, 47, .15);

$c-border-item: #e6e6e6;
$c-border-checkbox: #e8e8e8;
$c-border-checkbox-hover: #cdcdcd;
$c-border-checkbox-checked: #60c3b1;
$c-border-filter: #ebdfdf;

$c-line-through: #cccccc;

$c-bg-main: #f5f5f5;
$c-bg-select-all_focus: #f5f5f5;
$c-bg-item-hover: #fafafa;
$c-bg-container: #ffffff;

$c-button-focus: #f5f5f5;

$c-input_text: #666666;

$c-input_placeholder: #cccccc;


$c-actions-bar_text: #666666;


