/* main font-size */
$fs_normal   : 15px;
$fs_little   : 14px;
$fs_large    : 18px;
$fs_x-large  : 20px;
$fs_small    : 13px;
$fs_x-small  : 12px;
$fs_xx-small : 11px;

/* main line-height */
$lh_normal   : 20px;
$lh_little   : 18px;
$lh_large    : 22px;
$lh_x-large  : 24px;
$lh_small    : 17px;
$lh_x-small  : 17px;
$lh_xx-small : 15px;

/* default font-weight */
$fw : 200;

/* default font-size */
$fs_default : 14px;

/* title */
$fs_title : 100px;
$fw_title : 100;

/* input*/
$fs_input     : 24px;
$lh_input     : 30px;
$lh_input-add : 64px;

/* actions-bar */
$lh_actions-bar : 40px;

/* filters */
$fs_filter : 14px;
$lh_filter : 40px;

