/* urls */
$img_delete_url     : '../../../../../src/images/icons/close.png';
$img_select-all_url : '../../../../../src/images/icons/select-all.png';
$img_checbox_url    : '../../../../../src/images/icons/completed.png';