@import "../config/mixins/decoration";

.todos-actions-bar {
    display: block;
    position: relative;
    height: $h_actions-bar;
    }

.todos-actions-bar_counter {
    position: relative;
    float: left;

    left: $left_counter;
    line-height: $lh_actions-bar;
    vertical-align: middle;

    color: $c-actions-bar_text;
    font-size: $fs_default;
    font-weight: $fw;
    }

.todos-actions-bar_clear-button {
    position: relative;
    float: right;

    right: $right_clear-button;

    @include zeroPaddingMargin();

    line-height: $lh_actions-bar;
    vertical-align: middle;

    color: $c-actions-bar_text;
    font-size: $fs_default;
    font-weight: $fw;

    @include noBorders();
    }